<div class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Customer Staement </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/']" class="kt-subheader__breadcrumbs-home">
                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Manage</span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <!-- <form class="kt-form form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
            novalidate> -->
            <div class="col-md-12">
                <div class="kt-portlet">
                  
                    <div class="kt-portlet__head">
                        <!-- <div class="col-md-12 text-right m-t-10">
                            <a [routerLink]="['/Quotation/add/quotation.add']" class="btn btn-success"> <i class="la la-plus"></i> Create Statement</a>
                        </div> -->
                        <div class="col-md-12 text-right m-t-10">
                            <button type="button" class="btn btn-success btn-elevate btn-icon-sm"
                            *ngIf = "isShow" (click)="toggleDisplay();showcustomerStatement()">
                            <i class="la la-search"></i> {{text1}}
                        </button>
                        <!-- (click)="changeText()"*ngIf = "!isShow" -->
                        <button type="button" class="btn btn-success btn-elevate btn-icon-sm"
                        *ngIf = "!isShow" (click)="exit()">Refresh
                    </button>
                </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group row" >
                                    <label class="col-md-3">Customer:*</label>
                                    <div class="col-md-11">
                                        <ngx-select-dropdown  name="customerId" #customerId="ngModel" (change)="getCustomerDetail()" 
                                        [multiple]="false" [(ngModel)]="selectedCustomer" [config]="config" [options]="customers"></ngx-select-dropdown>
                                    </div>
                                </div>
                                <div class="form-group row">
                                   <label class="col-md-3">Type:</label>
                                        <div class="col-md-11" >
                                            <!-- <ngx-select-dropdown  name="statementType" #statementType="ngModel" (change)="getCustomerDetail()" 
                                            [multiple]="false" [(ngModel)]="selectedStatement" [config]="config" [options]="statementTypes"></ngx-select-dropdown> -->
                                            <select class="form-control" id="statementType" [(ngModel)]="selectedstType" name="statementType" #statementType="ngModel" required>
                                                <!-- <option [ngValue]="statementType" *ngFor="let statementType of statementTypes">{{statementType.name}}</option> -->
                                                <option value="outstanding">Outstanding Invoices</option>
                                                <option value="accActivity">Account Activity</option>
                                              </select>
                                        </div>
                                 </div>

                                 <div class="form-group row" *ngIf="selectedstType == 'accActivity'">
                                    <label class="col-md-4">Date from:</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" name="invoiceStartDate"
                                                #invoiceStartDate="ngModel" [(ngModel)]="startDate"
                                                ngbDatepicker #d="ngbDatepicker" (dateSelect)="changeInvoiceDate()"  readonly />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar"
                                                    (click)="d.toggle()" type="button">
                                                    <i class="la la-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="selectedstType == 'accActivity'">
                                    <label class="col-md-4 ">to:</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" name="invoiceDueDate"
                                                #invoiceDueDate="ngModel" (dateSelect)="changeDuedate()"
                                                [(ngModel)]="endDate" ngbDatepicker
                                                #d1="ngbDatepicker" [autoClose]=" true" readonly />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar"
                                                    (click)="d1.toggle()" type="button">
                                                    <i class="la la-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-12" *blockUI="'container-blockui'">
                                <table datatable [dtOptions]="dtOptions" data-page="2" class="table table-striped">
                                </table>
                            </div>
                        </div>
             
                    </div>
                </div>
                <!-- ________________________outstanding invoices *ngIf = "!isShow"__________________-->
                <div  *ngIf="!isShow">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success btn-elevate btn-icon-sm"
                                        (click)="doFilter()">
                                        <i class="la la-search"></i> More actions
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-elevate btn-icon-sm dropdown-toggle" data-toggle="dropdown" 
                                         aria-haspopup="true" aria-expanded="false">
                                      Action
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">Get share link</a>
                                      <a class="dropdown-item" href="#">Print</a>
                                      <a class="dropdown-item" href="#">Preview as customer</a>
                                    </div>
                                  </div>
                            </div>
                        </div>

                        
                    </div>
                    <br>
                    <div  id="htmlData" #htmlData>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <!-- <label class="col-md-3 kt-portlet__label">Item Name</label> -->
                                 
                                    <!-- <label class=" kt-portlet__label">Bill to</label> -->
                                    <h6 >Bill to</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <!-- <p class="kt-portlet__data">firstName</p>
                                        <p class="kt-portlet__data">9826483828</p>
                                        <p class="kt-portlet__data">sadar</p>
                                        <p class="kt-portlet__data">89</p>
                                        <p class="kt-portlet__data">Maharashtra</p> -->
                                        <div class="kt-portlet__data">{{customer.firstName+" "+customer.middleName+" "+customer.lastName}}</div>
                                        <div>{{customer.email}}</div>
                                        <div>{{customer.phone}}</div>

                                        <div>{{customer.address.streetNumber}}</div>
                                        <div>{{customer.address.streetName}}</div>
                                        <div>{{customer.address.postalCode}}</div>
                                        <div>{{customer.address.city}}</div>
                                        <div>{{customer.address.state}}</div>
                                        <div>{{customer.address.countryId}}</div>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-6 pull-right">
                                <div class="form-group row">
                                    <!-- <label class="col-md-3 kt-portlet__label">Statement of Account</label> -->
                                    <h3>Statement of Account</h3>
                                    <div class="col-md-9">
                                        <h4 *ngIf="selectedstType == 'outstanding'">Outstanding Invoices</h4>
                                        <h4 *ngIf="selectedstType == 'accActivity'">AccountActivity</h4>
                                        <div class="section-summary-header" *ngIf="selectedstType == 'outstanding'">
                                            <table class="wv-table--plain customer-statements-summary-table">
                                             <thead class="wv-table__header summary-header">
                                             <tr class="wv-table__row">
                                               <td class="wv-table__cell summary-cell" colspan="1"> 
                                                <span class="wv-text wv-text--small">As of date:</span></td>
                                               <td class="wv-table__cell summary-cell" colspan="1">
                                                <span class="wv-text wv-text--small"> {{today | date}}</span>
                                               </td>
                                              </tr>
                                              <tr class="wv-table__row">
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                 <span class="wv-text wv-text--small">Overdue:</span>
                                                </td>
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                 <span class="wv-text wv-text--small">₹{{overDueAmount}}</span>
                                                </td>
                                               </tr>
                                              </thead>
                                             <tbody class="wv-table__body">
                                               <tr class="wv-table__row">
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                 <span class="wv-text wv-text--small">Not yet due:</span>
                                                </td>
                                                <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                  <span class="wv-text wv-text--small">₹{{totalDueAmount}}</span>
                                                </td>
                                                </tr>
                                                <tr class="wv-table__row">
                                                   <td class="wv-table__cell summary-cell" colspan="1">
                                                     <span class="wv-text wv-text--small">Outstanding Balance (INR):</span>
                                                    </td>
                                                    <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                      <span class="wv-text wv-text--small">{{outStandingBalance | currency}}</span>
                                                    </td>
                                                </tr>
                                           
                                          </tbody>
                                        </table></div>
                                                                           </div>
                                  
                                    <div class="section-summary-header" *ngIf="selectedstType == 'accActivity'">
                                        <table class="wv-table--plain customer-statements-summary-table">
                                         <thead class="wv-table__header summary-header">
                                         <tr class="wv-table__row">
                                           <td class="wv-table__cell summary-cell" colspan="1"> 
                                            <span class="wv-text wv-text--small">From</span></td>
                                           <td class="wv-table__cell summary-cell" colspan="1">
                                            <span class="wv-text wv-text--small">{{fromDate | date}} </span>
                                           </td>
                                          </tr>
                                          <tr class="wv-table__row">
                                            <td class="wv-table__cell summary-cell" colspan="1">
                                             <span class="wv-text wv-text--small">To</span>
                                            </td>
                                            <td class="wv-table__cell summary-cell" colspan="1">
                                             <span class="wv-text wv-text--small">{{toDate | date}}</span>
                                            </td>
                                           </tr>
                                          </thead>
                                         <tbody class="wv-table__body">
                                           <tr class="wv-table__row">
                                            <td class="wv-table__cell summary-cell" colspan="1">
                                             <span class="wv-text wv-text--small">Opening balance on {{fromDate | date}} (INR)</span>
                                            </td>
                                            <td class="wv-table__cell--amount summary-cell" colspan="1">
                                              <span class="wv-text wv-text--small">₹0.00</span>
                                            </td>
                                            </tr>
                                            <tr class="wv-table__row">
                                               <td class="wv-table__cell summary-cell" colspan="1">
                                                 <span class="wv-text wv-text--small">Invoiced</span>
                                                </td>
                                                <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                  <span class="wv-text wv-text--small">₹0.00{{model.totalAmount}}</span>
                                                </td>
                                            </tr>
                                            <tr class="wv-table__row">
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                   <span class="wv-text wv-text--small">Paid</span>
                                                </td>
                                                <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                    <span class="wv-text wv-text--small">₹0.00</span>
                                                </td>
                                            </tr>
    
                                            <tr class="wv-table__row">
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                    <span class="wv-text wv-text--small">Refunded</span>
                                                </td>
                                                <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                    <span class="wv-text wv-text--small">₹0.00</span>
                                                </td>
                                            </tr>
                                           <tr class="wv-table__row">
                                                <td class="wv-table__cell summary-cell" colspan="1">
                                                  <span class="wv-text wv-text--small">  Closing Balance on  {{toDate | date}} (INR) (INR)</span>
                                               </td>
                                                <td class="wv-table__cell--amount summary-cell" colspan="1">
                                                  <span class="wv-text wv-text--small">₹153.00</span>
                                                </td>
                                            </tr>
                                      </tbody>
                                    </table></div>
                                </div>
                                <hr>
                            </div>
                        </div>
<div *ngIf="selectedstType == 'outstanding'">
    <div class="row">
        <div class="col-12">
                                
                <table class="table table-striped" id="my-table">
                    <thead>
                        <tr >
                            <th>S.NO.</th>
                            <th style="width:10%">Invoice #  </th>
                            <th scope="col"> Invoice Date    </th>
                            <th scope="col">  Due Date       </th>
                            <th scope="col" style="width: 15%;">Total</th>
                            <th scope="col">  Paid         </th>
                            <th scope="col" style="width: 10%;"> Due</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of statementData.invoiceList; index as $index;">
                            <td scope="row">
                                {{($index + 1)}}
                            </td>
                            <td>
                                {{item.invoiceNumber}}

                            </td>
                            <td>
                                {{item.invoiceDate | date}}<br/>
                                <div *ngIf="item.status==3" class="lblOverdue">Overdue</div>
                            </td>
                            <td>
                                {{item.dueDate | date}}

                            </td>
                            <td>
                                {{item.totalAmount}}

                            </td>
                            <td>
                                {{item.paid}}

                            </td>
                            <td>
                                {{item.totalAmount-item.paid}}

                            </td>
                        </tr>
                    </tbody>
                    </table>
        </div>
    </div>
    <br><div class="col-8"></div>
    <div class="row">
        <div class="col-10">
            <div class="form-group row">
                <label class="col-md-3 kt-portlet__label">Outstanding Balance (INR):</label>
                <div class="col-md-4">
                    <p class="kt-portlet__data">₹{{outStandingBalance}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedstType == 'accActivity'" >
    <div class="row">
        <div class="col-12">
                                
                <table class="table table-striped" id="my-table">
                    <thead>
                        <tr >
                            <th style="width:10%">Date</th>
                            <th scope="col"> Item   </th>
                            <th scope="col">  Amount  </th>
                            <th scope="col" style="width: 15%;">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedItems; index as $index;">
                            <td scope="row">
                                {{($index + 1)}}
                            </td>
                            <td>
                                {{model.startDate}}   
                            </td>
                            <td>
                                {{(item.itemTypeName)}}
                            </td>
                        
                            <td>
                                <input class="form-control" type="text" (input)="changeRate($event,$index);updateTotalAmount.emit()"  value="{{item.rate}}"/>
                                
                            </td>
                            <td *ngIf='item.taxPercentage'>
                                <ngx-select-dropdown (change)="changeTax($index,$event);updateTotalAmount.emit()" [multiple]="false" [(ngModel)]="selectedTax[$index]" [config]="config2" [options]="taxList"></ngx-select-dropdown>

                            </td>
                            <td *ngIf='!item.taxPercentage'>
                                Non-taxable
                            </td>
                    
                        </tr>
                    </tbody>
                    </table>
        </div>
    </div>
    <br><div class="col-8"></div>
    <div class="row">
        <div class="col-10">
            <div class="form-group row">
                <label class="col-md-3 kt-portlet__label">Outstanding Balance (INR):</label>
                <div class="col-md-4">
                    <p class="kt-portlet__data">{{model.amount | currency}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
                      
                    </div>
                </div>


                <!--_______________________________________ Account Activity starts _________________________________-->

             
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
